/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* Main */
html,
body {
  line-height: 2;
}

/* utilities */
.container {
  margin: auto;
  overflow: auto;
  max-width: 1000px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: black;
}

/* Navbar */
#nav {
  background-color: black;
  color: white;
  overflow: auto;
}

#nav h1 a {
  font-size: 40px;
  float: left;
}

#nav ul {
  list-style: none;
  float: right;
}

#nav ul li {
  float: left;
}

#nav ul li a {
  display: block;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* Showcase */
.showcase {
  background: url("../Img/showcase.jpg") no-repeat center center/cover;
  height: auto;
}

.showcase .content {
  margin: 40px;
  text-align: center;
}

.showcase .content h1 {
  font-size: 60px;
  margin: 40px;
}
.showcase .content p {
  margin: 20px;
  font-size: 20px;
}
.showcase .content a {
  padding: 20px;
  margin: 30px;
  background: black;
  color: white;
}

.showcase .content a:hover {
  background: white;
  color: black;
}

/* info */
#info {
  height: 500px;
}

#info .info-img {
  float: left;
  width: 50%;
  background: url("../Img/photo-1.jpg") no-repeat;
  min-height: 100%;
}

#info .info-content {
  display: block;
  float: right;
  width: 50%;
  background: black;
  height: 100%;
  color: white;
  text-align: center;
  padding: 10px;
}
#info .info-content h2 {
  margin: 10px;
}

#info .info-content p {
  margin: 10px 40px;
}

#info .info-content a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: white;
  color: black;
  border-radius: 15px;
}

#info .info-content a:hover {
  background: black;
  color: white;
  border: 2.5px white solid;
  border-radius: 15px;
}

/* box */
.box {
  background: white;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 20px;
}

.box-l {
  background: grey;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 20px;
}

#foot {
  background: black;
  color: white;
  text-align: center;
}

/* About-info */
#info-about {
  height: 400px;
}

#info-about .info-about-img {
  float: right;
  width: 50%;
  background: url("../Img/photo-2.jpg") no-repeat center center/cover;
  min-height: 100%;
  border-radius: 100%;
}

#info-about .info-about-content {
  display: block;
  float: left;
  width: 50%;
  background: white;
  height: 100%;
  color: black;
  text-align: center;
  padding: 10px;
}
#info-about .info-about-content h2 {
  margin: 10px;
}

#info .info-about-content p {
  margin: 10px 40px;
}

#info-about .info-about-content a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: black;
  color: white;
  border-radius: 15px;
}

#info-about .info-about-content a:hover {
  background: white;
  color: black;
  border: 2.5px black solid;
  border-radius: 15px;
}

/* About-reviews */
#review {
  height: auto;
  background: url("/Img/test-bg.jpg") no-repeat center center/cover;
  padding: 50px;
}

#review h1 {
  font-size: 60px;
  color: white;
  text-align: center;
}

#review .review-1 {
  background: rgba(197, 135, 64, 0.65);
  padding: 10px;
  height: auto;
  overflow: auto;
  margin: 40px;
}

#review .review-1 img {
  display: block;
  float: left;
  width: 15%;
  border-radius: 100%;
  padding: 10px;
}
#review .review-1 p {
  float: right;
  width: 85%;
  padding: 20px;
}

/* Contact */
#contact {
  height: auto;
  padding: 20px;
}
#contact h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

#contact p {
  font-size: 20px;
  margin: 0;
}

#contact .form-group label {
  display: block;
}

#contact .form-group input {
  border: #666 solid 1px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

#contact .form-group textarea {
  border: #666 solid 1px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

#contact a {
  text-decoration: none;
  background: black;
  color: white;
  padding: 20px;
  margin: 10px auto;
}

#contact-info {
  height: auto;
}
